.messageActiveSvg {
	background: url('./messageActive.svg');
}
.turntableIcon1 {
    background-image:url( './turntable_icon.png')
}
.trntableIcon2 {

	background:url( './turntable.png');
}
.server {
	background:url( './icon_sevice.png');
}