.MyGameRecordList__C {
	background-color: var(--darkBg,var(--bg_color_L2));

	&-empty {
		height: 400px;
	}

	&-item {
		height: 136px;
		padding: 28px 10px;
		display: flex;
		align-items: center;
		

		& + div {
			border-top: 1px solid var(--bg_color_L3);
		}

		&-l {
			height: 72px;
			width: 72px;
			line-height: 72px;
			text-align: center;
			border-radius: 20px;
			color: #fff;
			font-size: 48px;
			margin-right: 22px;
			flex: none;
			overflow: hidden;
			&-red,
			&-2,
			&-4,
			&-6,
			&-8 {
				background-color: var(--norm_red-color);
			}

			&-violet {
				background-color: var(--norm_Purple-color);
			}

			&-green,
			&-1,
			&-3,
			&-7,
			&-9 {
				background-color: var(--norm_green-color);
			}

			&-0 {
				background-image: linear-gradient(to bottom right, var(--norm_red-color) 50%, var(--norm_Purple-color) 0) !important;
			}

			&-5 {
				background-image: linear-gradient(to bottom right, var(--norm_green-color) 50%, var(--norm_Purple-color) 0) !important;
			}

			&-small {
				background: var(--norm_bule-color);
				font-size: 24px;
			}

			&-big {
				background: var(--norm_secondary-color);
				font-size: 24px;
			}
		}

		&-m {
			flex: none;

			&-top {
				height: 34px;
				line-height: 34px;
				font-size: 28px;
				color: var(--darkTextW,var(--text_color_L1));
				margin-bottom: 18px;
			}

			&-bottom {
				font-size: 22px;
				color: var(--text_color_L2);
			}
		}

		&-r {
			flex: 1;
			font-weight: 500;
			font-size: 28px;
			height: 72px;
			color: var(--norm_red-color);
			display: flex;
			align-items: flex-end;
			justify-content: center;
			flex-direction: column;

			span {
				word-wrap: break-word;
				word-break: break-all;
			}

			div {
				color: var(--norm_red-color);
				border: 1px solid var(--norm_red-color);
				border-radius: 10px;
				height: 36px;
				line-height: 36px;
				font-size: 22px;
				padding: 0 36px;
				margin-bottom: 6px;
			}

			&.success {
				color: var(--norm_green-color);

				div {
					color: var(--norm_green-color);
					border-color: var(--norm_green-color);
				}
			}
		}
	}

	&-inlineB {
		display: inline-block;

		& + div {
			margin-left: 16px;
		}

		&.big {
			color: var(--norm_secondary-color);
		}

		&.small {
			color: var(--norm_bule-color);
		}

		&.greenColor {
			color: var(--norm_green-color);
		}

		&.redColor {
			color: var(--norm_red-color);
		}

		&.purpleColor {
			color: var(--norm_Purple-color);
		}
	}

	&-detail {
		padding: 30px 0;
		border-bottom: 1px solid var(--bg_color_L3);

		&-text {
			font-size: 40px;
			color: var(--darkTextW,var(--text_color_L1));
			margin-bottom: 20px;
		}

		&-line
		{
			height: auto;
			line-height: 50px;
			padding: 0 5px;
			background-color: var(--bgDark-3,var(--bg_color_L3));
			color: var(--text_color_L2);
			font-size: 28px;
			border-radius: 10px;
			margin-bottom: 16px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			&>span {
				color: var(--text_color_L1)
			}

			& > div {
				display: flex;
				align-items: center;
			}

			img {
				width: 30px;
				height: 30px;
				margin-left: 5px;
			}

			.red {
				color: var(--norm_red-color);
			}

			.green {
				color: var(--norm_green-color);
			}

			.numList {
				display: flex;
				align-items: center;
				height: 100%;

				& > div {
					height: 36px;
					width: 36px;
					text-align: center;
					line-height: 36px;
					border-radius: 50%;
					border: 1px solid var(--text_color_L1);
					font-size: 24px;
					color: var(--text_color_L1);

					& + div {
						margin: 6px;
					}

					& > div {
						height: 36px;
						width: 36px;
						background-repeat: no-repeat;
						background-size: 36px;
						background-position: center;
						$list: 1 2 3 4 5 6;

						@each $i in $list {
							&.n#{$i} {
								background-image: url('@icon/AllGames/n#{$i}.png');
							}
						}

						& + div {
							margin-left: 8px;
						}
					}
				}
			}

			.line1 {
				display: flex;
				width: 100%;
				flex-wrap: wrap;

				.num {
					margin-left: 6px;
					height: 36px;
					min-width: 36px;
					text-align: center;
					line-height: 36px;
					padding: 0 5px;
					font-size: 24px;
					color: var(--text_color_L1);
				}

				.btn {
					height: 40px;
					line-height: 40px;
					border-radius: 6px;
					padding: 0 20px;
					font-size: 24px;
					margin: 4px 8px;
					background-color: var(--bg_color_L3);

					&.actionViolet {
						color: var(--text_color_L1);
						background-color: var(--norm_Purple-color);
					}

					&.actionRed {
						color: var(--text_color_L1);
						background-color: var(--norm_red-color);
					}

					&.actionGreen {
						color: var(--text_color_L1);
						background-color: var(--bgColor-13);
					}

					&.actionRedGreen {
						color: var(--text_color_L1);
						background-color: var(--norm_red-color);
						/* 不支持线性的时候显示 */
						background-image: var(--linearGradien-21);
					}
				}
			}
		}
	}
}
