:root {
    // main color 主题色
	--main-color: #F5CC2C;
    // gradient 渐变色
    --main_gradient-color: linear-gradient(180deg, #F5CC2C -.23%, #F2CA33 99.78%);
    --main_gradient-color2: linear-gradient(180deg, #FFD535 -0.23%, #FFE069 18.31%, #F7D349 99.78%);

    // complementary colors 辅助色
    --norm_red-color: #D23838;
    --norm_green-color: #17B15E;
    --norm_secondary-color: #DD9138;
    --norm_Purple-color: #9B48DB;
    --norm_bule-color: #5088D3;
    --button_dis_color: #454456;
    // text 文字颜色 
    --text_color_L1: #E6EBF0;
    --text_color_L2:#acafc2;
    --text_color_L3:#6E7277;
    --text_color_L4:#001534;
    // background-L1 背景色
    --bg_color_L1: #001534;
    --bg_color_L2: #002459;
    --bg_color_L3: #081C37;
    // other 其他
    --Dividing-line_color: #525167; // 分割线颜色 dividing line color
    --sheet_nva_color: #3A3947; // 表格标题底色 Table title background color
    --sheet_detail_bg_color: #282730; //表格内容区分底色之一 One of the background colors for distinguishing table content

    // svg-icon
    --icon1: rgba(7, 221, 209,.6);
    --icon2: rgba(7, 221, 209,.3);

	//摩托车配色
	--Secondary_red_color: #FD565C;
	--Secondary_green_color: #40AD72;
	--Secondary_Color1: #FFEBEC;
	--Secondary_Color2: #DAFFEB;
	--Secondary_moto_Color9: #D3B539;
	--Secondary_moto_Color8: #285593;

    /*reset van*/
    --van-sidebar-text-color:var(--main-color);
    --van-picker-background: var(--bg_color_L2);
    --van-picker-mask-color: linear-gradient(180deg, rgba(32, 29, 43, .9), rgba(32, 29, 43, .4)), linear-gradient(0deg, rgba(32, 29, 43, .9), rgba(32, 29, 43, .4));
    --van-picker-option-text-color: var(--text_color_L2);
    --van-picker-confirm-action-color: var(--main-color);
    --van-popup-background: #201D2B;
    --van-checkbox-checked-icon-color: var(--main-color);
    --van-checkbox-label-color: var(--text_color_L2);
    --van-field-input-text-color: var(--text_color_L1);
    --van-radio-checked-icon-color: var(--main-color);
    --van-grid-item-content-background:var(--bg_color_L1);
    --van-text-color: var(--text_color_L1);
    --van-dialog-background: var(--bg_color_L2);
    --van-circle-color: var(--main-color);
    --van-calendar-background: var(--bg_color_L1);
    --van-calendar-range-edge-background: var(--main-color);
    --van-radio-label-color: var(--text_color_L2);
    --van-cell-background: var(--bg_color_L2);
    --van-button-default-background:var(--main_gradient-color);
    --van-popover-light-background: var(--bg_color_L2);
    --van-circle-layer-color: var(--bg_color_L3);
    [class*=van-hairline]:after {
        content: none;
    }
}