.bingtip_count_title {
	text-align: center;
	color: #5dba47;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px; /* 100% */
	margin-bottom: 26px;
}

$smallBgColor: #fff;
$bigBgColor: #0B462A;
$sumBgColor: #F9BC36;
$smallTextColor: #0B462A;
$bigTextColor: #fff;
$sumTextColor: #0B462A;
$smallStyle: ".small";
$bigStyle: ".big";
$sumStyle: ".sum";

.small {
	color: $smallTextColor !important;
	background-color: $smallBgColor !important;
}

.big {
	color: $bigTextColor !important;
	background-color: $bigBgColor !important;
}

.sum {
	color: $sumTextColor !important;
	background-color: $sumBgColor !important;
}