:root {
    // main color 主题色
	--main-color: rgb(67, 109, 244);
    // gradient 渐变色
    --main_gradient-color: linear-gradient(90deg, #434FEE 0%, #4183F8 100%);
    --main_gradient-color2: linear-gradient(180deg, #434FEE 0%, #4183F8 100%);
    // 部分亮色专用颜色
    --light-main_gradient-color: var(--main_gradient-color);
    --text_white: #fff;
    --light-bg_white: #fff;
    --light-main-color: var(--main-color);

    // complementary colors 辅助色
    --norm_red-color: #FB5B5B;
    --norm_green-color: #18B660;
    --norm_secondary-color: #FEAA57;
    --norm_Purple-color: #C86EFF;
    --norm_bule-color: #6EA8F4;
    --button_dis_color: #CCCEDC;
    // text 文字颜色 
    --text_color_L1: #04060A;
    --text_color_L2:#70798B;
    --text_color_L3: #BEC6D4;
    --text_color_L4:#fff;
    // background-L1 背景色
    --bg_color_L1: #EBF2FB;
    --bg_color_L2: #fff;
    --bg_color_L3: #F6F6F6;
    // other 其他
    --Dividing-line_color: #E1E1E1; // 分割线颜色 dividing line color
    --sheet_nva_color: #434FEE; // 表格标题底色 Table title background color
    --sheet_detail_bg_color: #F5F5F7; //表格内容区分底色之一 One of the background colors for distinguishing table content


	//摩托车配色
	--Secondary_red_color: #FD565C;
	--Secondary_green_color: #40AD72;
	--Secondary_Color1: #FFEBEC;
	--Secondary_Color2: #DAFFEB;
	--Secondary_moto_Color9: #0A44FF;
	--Secondary_moto_Color8: #DBEAFF;

    // svg-icon
    --icon1: rgba(67, 109, 244,.6);
    --icon2: rgba(67, 109, 244,.3);
    --tab1: #434FEE;
    --tab2: #4183F8;

    /*reset van*/
    --van-sidebar-text-color:var(--main-color);
    --van-picker-background: var(--bg_color_L2);
    --van-picker-mask-color: linear-gradient(180deg, rgba(32, 29, 43, .9), rgba(32, 29, 43, .4)), linear-gradient(0deg, rgba(32, 29, 43, .9), rgba(32, 29, 43, .4));
    --van-picker-option-text-color: var(--text_color_L2);
    --van-picker-confirm-action-color: var(--main-color);
    --van-popup-background: var(--bg_color_L2);
    --van-checkbox-checked-icon-color: var(--main-color);
    --van-checkbox-label-color: var(--text_color_L2);
    --van-field-input-text-color: var(--text_color_L1);
    --van-radio-checked-icon-color: var(--main-color);
    --van-grid-item-content-background:var(--bg_color_L1);
    --van-text-color: var(--text_color_L1);
    --van-dialog-background: var(--bg_color_L2);
    --van-circle-color: var(--main-color);
    --van-calendar-background: var(--bg_color_L1);
    --van-calendar-range-edge-background: var(--main-color);
    --van-radio-label-color: var(--text_color_L2);
    --van-cell-background: var(--bg_color_L2);
    --van-popover-light-background: var(--bg_color_L2);
    --van-circle-layer-color: var(--bg_color_L3);
	--van-button-primary-background: var(--main_gradient-color);
	--van-button-primary-border-color: var(--main-color);
    --van-slider-active-background:var(--main-color);
    --van-slider-inactive-background:var(--bg_color_L1);
    --van-collapse-item-content-background: var(--bg_color_L1);
    --van-action-sheet-item-background: var(--bg_color_L2);
    --van-action-sheet-item-text-color: var(--text_color_L1);
    --van-button-primary-color: var(--text_color_L4);
	--van-dialog-has-title-message-text-color: var(--text_color_L2);
    [class*=van-hairline]:after {
        content: none;
    }
	--van-calendar-selected-day-color:var(--main-color);
	--van-calendar-selected-day-background:var(--bg_color_L2);
}

