body {

	/*rest calendar style*/
	.van-calendar {
		&__header {
			background: var(--bg_color_L2);
			color: var(--text_color_L1);

			&-title {
				color: var(--text_color_L1);
			}
		}

		&__header-subtitle {
			color: var(--text_color_L1);
		}

		&__confirm {
			background: var(--main_gradient-color);
			border: 0;
		}

		&__day--start {
			background: var(--main-color);
			color: var(--text_color_L4) !important;
		}

		&__day--end {
			background: var(--main-color);
			color: var(--text_color_L4) !important;
		}

		&__day {
			color: var(--text_color_L1);
		}

		&__weekday {
			color: var(--text_color_L1);
		}

		&__month-mark {
			color: var(--van-calendar-month-mark-color);
			opacity: 0.3;
		}
	}

	.van-cell:after {
		content: none;
	}

	.ruleHead {
		position: relative;

		svg {
			position: absolute;
			top: -2px;
			left: 0;
			right: 0;
			margin-inline: auto;
			width: 494px;
			height: 60px;
			z-index: 0;
			color: var(--sheet_detail_bg_color);
		}

		.promotion-title {
			color: var(--text_color_L4);
		}
	}

	.promotion-grade-th {
		color: var(--text_color_L4);
	}

	.van-dialog__confirm {
		background: var(--bg_color_L3);
		color: var(--text_color_L1)
	}

	.van-dialog__header {
		color: var(--text_color_L1);
	}

	.van-dialog__cancel {
		color: var(--text_color_L1);
		background: var(--button_dis_color);
	}

	.van-dialog__confirm {
		color: var(--text_color_L4);
		background: var(--main_gradient-color);
	}

	.wallet-container-header-belly {
		svg {
			path:nth-child(1) {
				fill: var(--bg_color_L3);
			}

			path:nth-child(2) {
				fill: var(--main-color);
			}

			path:nth-child(3) {
				fill: var(--bg_color_L3);
			}
		}
	}

	.tabbar__container-item:nth-of-type(3) {
		.svg-icon {
			color: var(--text_color_L4);
		}
	}

	.promptContent {
		color: var(--text_color_L1);
		padding: 10px 0;
	}

	.security-btns {
		.van-button--default {
			background: var(--text_color_L4);
			color: var(--main-color);
		}

		.van-button--disabled {
			background: var(--bg_color_L3) !important;
			color: var(--text_color_L2);
		}
	}

	.GameList__C-item.active {
		background: linear-gradient(180deg, var(--main-gradient-start) 0%, var(--main-gradient-end) 100%) !important;
	}

	#app {
		.empty__container svg {
			opacity: 0.2;
		}
		.tabbar__container{
			align-items: center;
			background: var(--bg_color_L2);
		}
		.tabbar__container-item.active{
			color: var(--main-color);
		}
		.lobby, .allGame, .popular{
			background: none;
		}
		.noticeBar__container {
			border-radius: 20px;
			height: 96px;
			background: var(--bg_color_L2, #241E22);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
		}
		.terms-rule{
			color: var(--text_color_L1);
		}
		.Wallet__C-balance{
			background-image: none;
		}
		.winner_91{
			background-image: url('@/assets/p5EmeraldGreenStyle/icons/home/wardInfo.png');
		}
		.winner_91-wrapper .head{
			color: var(--text_color_L4);
		}
		.winner_91-wrapper__item .name{
			color: var(--main-color);
		}
		.winner_91-wrapper__item .amount{
			color: var(--norm_secondary-color);
		}
		.rank_c-topThree{
			background-image: url('@/assets/p5EmeraldGreenStyle/icons/home/rank_bg.svg');
		}
		.rank_c-list{
			background: #48E294;
			.rank_c-list__item .left-rank,
			.rank_c-list__item .right-box {
				color: #FEAA57;
			}
			.rank_c-list__item .middle-name{
				color:var(--text_color_L4);
			}
		}
		.tournament-container{
			background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/champion_bg.png");
			.contentChamp{
				.title{
					color: var(--text_color_L4);
					text-shadow: none;
				}
				.subtitle{
					color: var(--text_color_L4);
				}
			}
			.countdown-separator{
				color: var(--text_white);
			}
			.countdown-item{
				border-radius: 16px;
				border: 1px solid #1CB367;
				background: linear-gradient(180deg, #B9E1CD 0%, #1EB469 100%);
				.countdown-value{
					color:var(--text_white);
					text-shadow: 0 2px 2px rgba(255, 255, 255, 0.40);
				}
				.countdown-label{
					color: var(--text_white);
				}
			}
		}
		.lobby .lottery .h{
			background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/ball_8.png");
		}
		.homeNav .title{
			background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/super.png");
		}
		.title{
			&.chess{
				background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/title_PVC.png");
			}
			&.pop{
				background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/Popular.png");
			}
			&.fishing{
				background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/title_Fishing.png");
			}
			&.sport{
				background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/Sports.png");
			}
			&.slot{
				background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/Slots.png");
			}
			&.miniGame{
				background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/MiniGame.png");
			}
			&.live{
				background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/Casino.png");
			}
		}
		.tabbar__container-item:nth-of-type(3){
			position: static;
		}
		.StrongBoxRecord__container-overview{
			background: var(--main-color);
		}
		.championship{
			padding: 0;
			.tabs{
				background: var(--bg_color_L2);
				&> div.active{
					color: var(--main-color);
					&::after{
						border-bottom:18px solid var(--main-color);
					}
				}
			}
		}
		.userInfo__container-setting-center{
			background: var(--bg_color_L2);
		}
		.lobbyItem .h .d .more{
			background: var(--main-color);
			color: var(--text_color_L4);
		}

		.lobbyItem .h .d{
			.left{
				background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/right.png");
				transform: rotateY(180deg);
			}
			.right{
				background-image: url("@/assets/p5EmeraldGreenStyle/icons/home/right.png");
			}
		}


		.task-item-header div{
			color: var(--text_color_L4);
		}
		.subordinate__container-content {
			padding-top: 0;
		}
		input::placeholder {
			color: var(--text_color_L3)
		}
		.languageName {
			color: var(--main-color);
		}
		.my_r-body{
			.list-item-m-top {
				color: var(--text_color_L2);
			}
			.list-item-m-bottom{
				color: var(--text_color_L3);
			}
		}
		.van-tabs__wrap {
			margin-bottom: 20px;
			padding: 0 3px;
			.van-tabs__nav {
				background: var(--bg_color_L3, linear-gradient(180deg, rgba(241, 188, 100, 0.10) 0%, rgba(244, 172, 52, 0.00) 100%));
				border: 2px solid var(--bg_color_L1);
				border-radius: 8px;
				box-sizing: border-box;
				//transform: skewX(-4deg);
				padding: 0;
				.van-tab--active {
					background: var(--main_gradient-color, linear-gradient(180deg, #FED358 0%, #FFB472 100%));;
					//border-radius: 8px;
					.tabs-btn {
						color: var(--text_color_L4);
					}
				}
				.tabs-btn {
					color: var(--text_color_L1);
					//transform: skewX(0deg);
					display: flex;
					align-items: center;
				}
			}
			.van-tabs__line {
				background: transparent;
			}
		}
		.rank_c-topThree .r1, .r2, .r3 {
			.money, .name {
				color: var(--text_color_L4);
			}
		}
		.activity-wrapper{
			.activity-banner{
				.bonus-button{
					border: 1px solid rgba(254,211,88, 0.3);
				}
			}
		}
	}
	.van-popup--center {
		.bet_p-PreSale-body{
			color: var(--text_color_L1) !important;
		}
		.bet-rule-body{
			color: var(--text_color_L1) !important;
		}
		.bet-rule-body > div{
			p{
				color: var(--text_color_L1) !important;
				span{
					color: var(--text_color_L1) !important;
				}
			}
		}
	}

}