html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	background-color: #9195a3;
}

#app {
	width: 750px;
	height: fit-content;
	min-height: 100vh;
}

.norem-app {
	width: 375px;
}
/* 
.van-popup.van-popup--bottom {
	max-width: 750px;
	left: 50%;
	transform: translateX(-50%);
} */

/* @media screen and (min-width: 500px) {
	
} */
@media screen and (max-width: 500px) {
	#app {
		width: 100%;
		min-height: 100vh;
	}

	/* 滚动条展示 */
	#app::-webkit-scrollbar {
		width: 0;
		/* Remove scrollbar space */
		background: transparent;
		/* Optional: just make scrollbar invisible */
	}

	.van-popup.van-popup--bottom {
		max-width: none;
	}
}

@media (min-width: 501px) {
	.van-popup.van-popup--bottom {
		max-width: 750px;
		left: 50%;
		transform: translateX(-50%);
	}
	.van-popup.van-popup--center {
		max-width: 750px;
	}
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#home .tab_active {
	color: #001534;
}

#home .slot_list .slot_item .slot_title {
	color: #f7d349;
}

#home .aloneGame .look_all,
#home .slot_list .slot_item .all_slot,
#home .video_list .video_item .all_slot {
	color: #001534;
}

#home .profit__list {
	background-color: #081C37;
}
#home .profit__list-item + .profit__list-item {
	border-top: 1px solid #272C34;
}
#home .btn.pwa-btn {
	border-radius: 12px;
}

#home .btn.pwa-btn .text {
	color: #001534;
	text-shadow: none;
}

#home .slot_list .slot_item .slot_title svg {
	color: #fff;
}

#app #home .noticeBar__container button {
	color: #001534;
}
#app #home .noticeBar__container {
	color: #fff;
	background: linear-gradient(90deg,#3042DB 0%,rgba(48,66,219,0) 100%);
}
:root {
	--teshu-icon: #fff;
}

#app .win-odds{
	color: #001534;
}