@import 'reset.scss';
#app {
  width: 100%;

}
:root {
  --text_color_L1: #04060a;
  --text_color_L2: #646c7b;
  --text_color_L4: #fff;
  --bg_color_L3: #f6f6f6;
  --bg_color_L2: #fff;
  --norm_red-color: #fb5b5b;
  --norm_green-color: #18b660;
  --norm_Purple-color: #d65df8;
  --norm_secondary-color: #f5a036;
  --dividing-line_color: #e1e1e1;
}
