:root {
    // main color 主题色
	--main-color: #FA2367;
    // gradient 渐变色
    --main_gradient-color: linear-gradient(90deg, #D92E08 15.38%, #BE026A 98.73%);;
    --main_gradient-color2: linear-gradient(270deg, #7A2BBF 0%, #E616DE 27%, #F90089 73%, #FB2936 100%);
    // 部分亮色专用颜色
    --light-main_gradient-color: var(--main_gradient-color);
    --text_white: #fff;
    --light-bg_white: #fff;
    --light-main-color: var(--main-color);

	// complementary colors 辅助色
	--norm_red-color: #FB5B5B;
	--norm_green-color: #18B660;
	--norm_secondary-color: #FEAA57;
	--norm_Purple-color: #C86EFF;
	--norm_bule-color: #6EA8F4;
	--Secondary_red_color: #FD565C;
	--Secondary_green_color: #40AD72;
	--Secondary_Color1: #FFEBEC;
	--Secondary_Color2: #DAFFEB;
    --button_dis_color: linear-gradient(90deg, #CCCEDC 15.38%, #CDCFDD 98.73%);

	// 摩托车专用配色
	--Secondary_moto_Color9: #A320AE;
	--Secondary_moto_Color8: #253140;

    // text 文字颜色
    --text_color_L1: #ffffff;
    --text_color_L2: rgba(255, 255, 255, 0.70);
    --text_color_L3: #989898;
	--text_color_L4: #FFF;
	--text_color_L5: #F7D34A;

	// 功能色
	--norm_purple1_color: #7B8EFF;
	--norm_Orange_color: #FBB84D;
	--norm_green_color: #3AC967;
	--norm_blue_color: #54B0FD;
	--norm_purple2_color: #C36FFF;
	--norm_brown_color: #B7805F;
	--norm_blue2_color: #2AD4C5;
	--norm_blue3_color: #7FADD1;
	--norm_Orange2_color: #FD8654;

    // background-L1 背景色
    --bg_color_L1: #0E131B;
    --bg_color_L2: #21252C;
    --bg_color_L3: #2A2E38;
	--bgDark-2: #353C4A;

    // other 其他
    --Dividing-line_color: #272C34; // 分割线颜色 dividing line color
    --sheet_nva_color: var(--main-color); // 表格标题底色 Table title background color
    --sheet_detail_bg_color: var(--bg_color_L3); //表格内容区分底色之一 One of the background colors for distinguishing table content
    --pop_bg-color: linear-gradient(180deg, #FF6C6B 0%, #FF4A4A 68.59%);

    --icon1: rgba(7, 221, 209,.6);
    --icon2: rgba(7, 221, 209,.3);
    --tab1: #FB5755;
    --tab2: #FF745B;
    //icon color
    --iconSecondary: rgba(24, 182, 96,.3);
    /*reset van*/
    --van-sidebar-text-color:var(--main-color);
    --van-picker-background: var(--bg_color_L2);
    --van-picker-option-text-color: var(--text_color_L2);
    --van-picker-confirm-action-color: var(--main-color);
    --van-checkbox-checked-icon-color: var(--main-color);
    --van-checkbox-label-color: var(--text_color_L2);
    --van-field-input-text-color: var(--text_color_L1);
    --van-radio-checked-icon-color: var(--main-color);
    --van-grid-item-content-background:var(--bg_color_L1);
    --van-text-color: var(--text_color_L1);
    --van-dialog-background: var(--bg_color_L2);
    --van-circle-color: var(--main-color);
    --van-circle-layer-color: var(--bg_color_L3);
    --van-calendar-range-edge-background: var(--main-color);
    --van-button-primary-background: var(--main-color);
    --van-button-primary-border-color: var(--main-color);
	--van-picker-mask-color: linear-gradient(180deg, rgba(32, 29, 43, .9), rgba(32, 29, 43, .4)), linear-gradient(0deg, rgba(32, 29, 43, .9), rgba(32, 29, 43, .4));
	--van-calendar-background: var(--bg_color_L2);
	--van-calendar-month-mark-color: rgba(242, 243, 245, .2);
}