#app {
	.userInfo__container-setting-center {
		background: var(--bg_color_L2);
	}
    .lotterySlotItem {
        background: var(--main_gradient-color);
        span,h4 {
            color: #fff;
        }
    }
	// 首充奖励
	.firstSaveDialog {
		.header {
			background: var(--main-color);
			color: var(--text_color_L4);
		}
	}
	.progress {
		background: #d8d8d8 !important;
	}
	.gameList {
		.box {
			svg {
				color: rgba(217, 217, 217, 0.2);
			}
		}
	}
	.championship {
		.tabs {
			background: var(--main-color);
			& > div {
				color: #fff !important;
                &.active {
                    &::after {
                        border-bottom-color: #fff;
                    }
                }
			}
		}
	}
    .TeamReport__C-body .header-container {
        background: var(--main-color);
        &>div {
            color: #fff;
            &>div {
                &:last-of-type{
                    color: #fff;
                }
            }
        }
    }
    .ruleHead {
        position: relative;
        svg {
          position: absolute;
          top: -2px;
          left: 0;
          right: 0;
          margin-inline: auto;
          width: 494px;
          height: 60px;
          z-index: 1;
          color: var(--main-color);
        }
        .promotion-title {
            color: var(--text_color_L4);
        }
    }
    .promotion-grade-th {
        color: var(--text_color_L4);
    }
    .wallet-container {
        .imgD {
            img {
                position: relative;
                width: calc(100% + 24px);
            }
        }
    }
    .GameList__C {
        background: var(--bg_color_L2);
    }
    .empty__container svg{
        opacity: .2;
    }
	.funtab_item{
		.tab_active{
			color: var(--text_color_L4);
			background: var(--main_gradient-color2);
		}
	}
	.aloneGame .header .title{
		div{
			background: var(--main-color);
			.all, .len{
				color: var(--text_color_L4);
			}
		}
	}
	.aloneGame .header .right_btn i{
		color: var(--text_color_L4);
		background: var(--main-color);
	}
	.noticeBar__container{
		border-radius: 30px;
		margin-top: 30px;
		button{
			background: var(--main_gradient-color2);
			color: var(--text_color_L4);
		}
	}
	.navbar__content-right{
		.content__right:nth-child(1) svg{
			color: var(--main-color);
		}
	}
	.ChangLong{
		border-radius: 20px;
	}
	.tabbar__container-item{
		color:var(--text_color_L3);
		&.active{
			color: var(--main-color);
		}
	}
	.aloneGame .header .title div{
		border-radius: 8px;
		background: #FFF;
		.all{
			color: #A3C2E3;
		}
		.len{
			color:#1A8CFF;
		}
	}
	.gameItem1 .win-odds{
		color:var(--text_color_L4);
		background: rgba(26, 140, 255, 0.25);
	}
	.tab_item{
		color:#5B8BB5;
		&.tab_active{
			background: #1A8CFF;
		}
	}
	.balanceAssets{
		height: 260px;
	}
}
body{
	.van-hairline--top-bottom:after, .van-hairline-unset--top-bottom:after{
		border: none !important;
	}
}

