:root {
    // Main Colors
    --main-color: #F9BB0B; // 主题色，用于需强调和突出的文字、icon
    --main-gradient-start: #FFDD1A; // 主题渐变色，用于按钮、头部底色、卡片样式底色等
    --main-gradient-end: #FFB05B;
  
    // Gradient definitions
    --main_gradient-color: linear-gradient(180deg, var(--main-gradient-start), var(--main-gradient-end));
    --main_gradient-color2: linear-gradient(90deg, var(--main-gradient-start), var(--main-gradient-end));
	--light-main_gradient-color: linear-gradient(70deg, var(--main-gradient-start) 13.12%, var(--main-gradient-end) 86.88%);
	--bg_HomeModule_Stroke: rgba(208, 208, 237, 0.30);
	--bg_HomeModule_Padding:var(--bg_color_L2, #FFF);
    // complementary colors 辅助色
    --norm_red-color: #D23838;
    --norm_green-color: #18B660;
    --norm_secondary-color: #F5A036;
    --norm_Purple-color: #B659FE;
    --norm_bule-color: #5088D3;
    --button_dis_color:#CCCEDC;

	//摩托车
	--Secondary_red_color: #FD565C;
	--Secondary_green_color: #40AD72;
	--Secondary_Color1: #FFEBEC;
	--Secondary_Color2: #DAFFEB;
	--Secondary_moto_Color9: #EB9549;
	--Secondary_moto_Color8: #382E35;

    // text 文字颜色 
    --text_color_L1: #333333;
    --text_color_L2: #837064;
    --text_color_L3: #C8B6AA;
    --text_color_L4: #FFFFFF;


    // background 背景色
    --bg_color_L1: #F5F6FF;
    --bg_color_L2: #FFFFFF;
    --bg_color_L3: #EEEEEE;
    // other 其他
    --Dividing-line_color: #EFEFEF; // 分割线颜色 dividing line color
    --sheet_nva_color: #F9BB0B; // 表格标题底色 Table title background color
    --sheet_detail_bg_color:#EFEFEF; //表格内容区分底色之一 One of the background colors for distinguishing table content
	--light-bg_white: #FFFFFF;
	--text_white: #FFFFFF;

    // svg-icon
    --icon1: rgba(12, 195, 159,.6);
    --icon2: rgba(12, 195, 159, 0.25);
    --tab1: #21D9CC;
    --tab2: #BED921;

    /*reset van*/
    --van-sidebar-text-color:var(--main-color);
    --van-picker-background: var(--bg_color_L2);
    //--van-picker-mask-color: linear-gradient(180deg, rgba(32, 29, 43, .9), rgba(32, 29, 43, .4)), linear-gradient(0deg, rgba(32, 29, 43, .9), rgba(32, 29, 43, .4));
    --van-picker-option-text-color: var(--text_color_L2);
    --van-picker-confirm-action-color: var(--main-color);
    //--van-popup-background: #201D2B;
    --van-checkbox-checked-icon-color: var(--main-color);
    --van-checkbox-label-color: var(--text_color_L2);
    --van-field-input-text-color: var(--text_color_L1);
    --van-radio-checked-icon-color: var(--main-color);
    --van-grid-item-content-background:var(--bg_color_L1);
    --van-text-color: var(--text_color_L1);
    --van-dialog-background: var(--bg_color_L2);
    --van-circle-color: var(--main-color);
    --van-calendar-background: var(--bg_color_L1);
    --van-calendar-range-edge-background: var(--main-color);
    --van-radio-label-color: var(--text_color_L2);
    --van-cell-background: var(--bg_color_L2);
    --van-button-default-background:var(--main_gradient-color);
    --van-popover-light-background: var(--bg_color_L2);
    --van-circle-layer-color: var(--bg_color_L3);
	--van-button-primary-background: var(--main_gradient-color);
	--van-button-primary-border-color: var(--main-color);
    --van-slider-active-background:var(--main-color);
    --van-slider-inactive-background:var(--bg_color_L1);
    --van-collapse-item-content-background: var(--bg_color_L1);
    --van-action-sheet-item-background: var(--bg_color_L2);
    --van-action-sheet-item-text-color: var(--text_color_L1);
    --van-button-primary-color: var(--text_color_L4);
	--van-dialog-has-title-message-text-color: var(--text_color_L2);
    [class*=van-hairline]:after {
        content: none;
    }
	--van-calendar-selected-day-color:var(--main-color);
	--van-calendar-selected-day-background:var(--bg_color_L2);
    --van-popup-background:var(--bg_color_L1);
}