// 越南站字体
@font-face {
	font-family: 'bahnschrift';
	font-weight: 500;
	src: url('@/assets/fonts/bahnschrift.woff2');
}

// 倒计时字体
@font-face {
	font-family: 'digitalDreamFat';
	src: url('@/assets/fonts/digitalDreamFat.ttf') format('truetype');
}
