@import 'extend';
@import 'variables';
@import 'fonts';

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
svg {
	height: 100%;
}

* {
	user-select: none;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#app {
	padding: 0;
	margin: 0;
}

body {
	height: auto;
}

/* 解决 h1 标签在 webkit 内核浏览器中文字大小失效问题 */
:-webkit-any(article, aside, nav, section) h1 {
	font-size: 2em;
}

/*解决图片设置宽高后变模糊的问题*/
img {
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: -webkit-optimize-contrast; /*Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

input {
	// ios问题修复
	user-select: text;
	color: var(--text_color_L1);
	&:focus {
		outline: 1px solid var(--Dividing-line_color);
		user-select: text;
	}
}
.c-row {
	display: flex;
}

.c-row-middle-center {
	justify-content: center;
	align-items: center;
}

.c-row-between {
	justify-content: space-between;
}

.c-row-middle {
	align-items: center;
}

.c-flex-warp {
	flex-wrap: wrap;
}
.m-b-5 {
	margin-bottom: 10px;
}
.m-r-5 {
	margin-right: 10px;
}
.c-flew-end {
	justify-content: flex-end;
}
.c-tc {
	text-align: center;
}
.p-r-10 {
	padding-right: 20px;
}
.p-l-10 {
	padding-left: 20px;
}
.p-b-10 {
	padding-bottom: 20px;
}
.p-t-10 {
	padding-top: 20px;
}
//弹窗容器
.popup {
	border-radius: 20px 20px 0 0;
	z-index: 2006;
	left: auto;
	overflow-y: visible;
}
// 预售规则容器
.PreSaleRule {
	width: 528px;
}
// 投注成功
.Tips {
	width: 600px;
	height: 160px;
	line-height: 160px;
	background: var(--whiteBg);
	border: 1px solid var(--borderColor-5);
	
	border-radius: 20px;
	display: flex;
	justify-content: center;
	top: 80%;
}
// 首充奖励
.firstSaveDialog {
	width: 600px;
	overflow: initial;

	.van-dialog__header {
		padding-top: 0;
	}
}
.custom18dialog {
	width: 630px;
}
.msg-window{
	padding: 10px 20px;
	width: 700px;
	.msg-header{
		color: var(--text_color_L1);
		font-size: 24px;
	}
	.msg-footer{
		div{
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		color: var(--main-color);
		font-size: 24px;
		padding-top: 24px;
		img{
			width: 30px;
			height: 30px;
		}
	}
}
.noOverHidden {
	overflow: inherit;
}

// 公共样式

.dailySignInRules__container {
	&-hero {
		display: flex;
		margin: 10px auto 40px;
		border-radius: 20px;
		overflow: hidden;

		&__wrapper {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			&-titlebox {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
				width: 100%;
				color: var(--text_color_L1);
			}
			ul {
				width: 100%;

				li {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					div {
						flex: 1;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 28px;
						padding: 26px 0;
						border-bottom: 1px solid var(--bgcolor-54);
					}
				}
			}
			&-title {
				width: 100%;
				height: 80px;
				padding-block: 26px;
				font-size: 32px;
				line-height: 24px;
				text-align: center;
				background: var(--main_gradient-color2);
			}

			&-content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
				height: 100%;

				& > div {
					width: 100%;
					padding: 26px 0;
					font-size: 28px;
					line-height: 28px;
					text-align: center;
					border-bottom: 1px solid var(--bgColor-10);

					&:last-of-type {
						border-bottom: none;
					}
				}
			}
		}
	}
}
